<!DOCTYPE html>
<html>

<head>
	<title>Source</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
		integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div class="container">
		<p><a href="/dashboard/sources">Sources</a>
			/ New source</p>
		<hr>
		<form>
			<label for="id">ID:</label>
			<input type="text" id="id" name="id">
			<label for="url">URL:</label>
			<input type="text" id="url" name="url">
			<label for="allowed_ext">Allowed Extensions:</label>
			<input type="text" id="allowed_ext" name="allowed_ext">
			<label for="allowed_dirs">Allowed Directories:</label>
			<input type="text" id="allowed_dirs" name="allowed_dirs">
			<label for="ignored_dirs">Ignored Directories:</label>
			<input type="text" id="ignored_dirs" name="ignored_dirs"><br>
			<input class="button button-primary" type="submit" value="Save">
		</form>
	</div>
</body>

</html>