<div class="bg-white py-10">
	<div class="mx-80">
		<div class="px-8">
			<div class="items-center flex">
				<div class="flex-grow">
					<h1 class="text-gray-900 font-semibold">Users</h1>
					<p class="text-gray-700 text-sm mt-2">A list of all the users in your account including their name, title,
						email and role.</p>
				</div>
				<div class="ml-16"><button
						class="bg-indigo-600 text-white cursor-pointer text-sm font-semibold h-9 py-2 px-3 text-center w-20 rounded-md">Add
						user</button></div>
			</div>
			<div class="flow-root mt-8">
				<div class="-mb-2 -ml-8 -mr-8 -mt-2">
					<div class="inline-block py-2 align-middle">
						<table style="border-spacing: 2px 2px;" class="border-collapse table">
							<thead class="table-header-group">
								<tr class="table-row">
									<th class="text-gray-900 table-cell text-sm font-semibold py-3.5 pr-3">Name</th>
									<th class="text-gray-900 table-cell text-sm font-semibold py-3.5 px-3">Title</th>
									<th class="text-gray-900 table-cell text-sm font-semibold py-3.5 px-3">Email</th>
									<th class="text-gray-900 table-cell text-sm font-semibold py-3.5 px-3">Role</th>
									<th class="table-cell font-bold py-3.5 pl-3 relative text-center"><span
											class="bottom-[1.56rem] left-[2.66rem] absolute right-[1.97rem] top-[1.50rem] whitespace-nowrap overflow-hidden">Edit</span>
									</th>
								</tr>
							</thead>
							<tbody class="border-t table-row-group border-gray-300 border-solid">
								<tr class="table-row">
									<td class="text-gray-900 table-cell text-sm font-medium py-4 pr-3 whitespace-nowrap">Lindsay Walton
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Front-end Developer</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">lindsay.walton@example.com
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Member</td>
									<td class="table-cell text-sm font-medium py-4 pl-3 text-right whitespace-nowrap"><a
											href="https://tailwindui.com/#" class="text-indigo-600 cursor-pointer">Edit<span
												class="bottom-[2.28rem] left-[4.56rem] absolute right-[0.06rem] top-[1.03rem] overflow-hidden">,
												Lindsay Walton</span></a></td>
								</tr>
								<tr class="table-row border-gray-200 border-solid">
									<td class="text-gray-900 table-cell text-sm font-medium py-4 pr-3 whitespace-nowrap">Courtney Henry
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Designer</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">courtney.henry@example.com
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Admin</td>
									<td class="table-cell text-sm font-medium py-4 pl-3 text-right whitespace-nowrap"><a
											href="https://tailwindui.com/#" class="text-indigo-600 cursor-pointer">Edit<span
												class="bottom-[2.28rem] left-[4.56rem] absolute right-[0.06rem] top-[1.03rem] overflow-hidden">,
												Courtney Henry</span></a></td>
								</tr>
								<tr class="table-row border-gray-200 border-solid">
									<td class="text-gray-900 table-cell text-sm font-medium py-4 pr-3 whitespace-nowrap">Tom Cook</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Director of Product</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">tom.cook@example.com</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Member</td>
									<td class="table-cell text-sm font-medium py-4 pl-3 text-right whitespace-nowrap"><a
											href="https://tailwindui.com/#" class="text-indigo-600 cursor-pointer">Edit<span
												class="bottom-[2.28rem] left-[4.56rem] absolute right-[0.06rem] top-[1.03rem] overflow-hidden">,
												Tom Cook</span></a></td>
								</tr>
								<tr class="table-row border-gray-200 border-solid">
									<td class="text-gray-900 table-cell text-sm font-medium py-4 pr-3 whitespace-nowrap">Whitney Francis
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Copywriter</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">whitney.francis@example.com
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Admin</td>
									<td class="table-cell text-sm font-medium py-4 pl-3 text-right whitespace-nowrap"><a
											href="https://tailwindui.com/#" class="text-indigo-600 cursor-pointer">Edit<span
												class="bottom-[2.28rem] left-[4.56rem] absolute right-[0.06rem] top-[1.03rem] overflow-hidden">,
												Whitney Francis</span></a></td>
								</tr>
								<tr class="table-row border-gray-200 border-solid">
									<td class="text-gray-900 table-cell text-sm font-medium py-4 pr-3 whitespace-nowrap">Leonard Krasner
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Senior Designer</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">leonard.krasner@example.com
									</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Owner</td>
									<td class="table-cell text-sm font-medium py-4 pl-3 text-right whitespace-nowrap"><a
											href="https://tailwindui.com/#" class="text-indigo-600 cursor-pointer">Edit<span
												class="bottom-[2.28rem] left-[4.56rem] absolute right-[0.06rem] top-[1.03rem] overflow-hidden">,
												Leonard Krasner</span></a></td>
								</tr>
								<tr class="table-row border-gray-200 border-solid">
									<td class="text-gray-900 table-cell text-sm font-medium py-4 pr-3 whitespace-nowrap">Floyd Miles</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Principal Designer</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">floyd.miles@example.com</td>
									<td class="text-gray-500 table-cell text-sm py-4 px-3 whitespace-nowrap">Member</td>
									<td class="table-cell text-sm font-medium py-4 pl-3 text-right whitespace-nowrap"><a
											href="https://tailwindui.com/#" class="text-indigo-600 cursor-pointer">Edit<span
												class="bottom-[2.28rem] left-[4.56rem] absolute right-[0.06rem] top-[1.03rem] overflow-hidden">,
												Floyd Miles</span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>